export("addrlink", "split_address", "split_number")
importFrom("utils", "head")
importFrom("stringi", "stri_replace_all_regex", "stri_trans_general", "stri_trans_nfc")
importFrom("stringdist", "stringsimmatrix")
